---
---

$header-heading-color: #000 !default;
$header-bg-color: #ffdd55 !default;
$header-bg-color-secondary: #4a7b7c !default;
$section-headings-color: #4a7b7c !default;

@import "{{ site.theme }}";